# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.tmp
*.lock
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ-related files
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code-related files
# Uncomment the following line if you wish to ignore VS Code configurations.
#.vscode/
.vscode/

# Flutter/Dart/Pub-related files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
pubspec.lock
flutter_export_environment.sh
**/doc/api/

# Build outputs
build/

# Android-specific files
android/.idea
android/.cxx/
android/local.properties

# iOS-specific files
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# macOS-specific files
macos/Flutter/ephemeral/

# Web-related files
web/.dart_tool/

# Windows-specific files
windows/flutter/ephemeral/

# Linux-specific files
linux/flutter/ephemeral/

# Generated metadata
.metadata
